div {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  padding: 0.5px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s all;
  img{
    border-radius: 50%;
  }
}

@media (max-width: 540px) {
  div{
    right: 1px;
    top: 1px;
  }
}
