h1,
h2,
h3 {
  color: var(--text);
  margin-top: 1rem;
}
.content {
  width: 98.5%;
  height: 30rem;
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: var(--bgImg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden scroll;
  scrollbar-width: none;
  .information {
    width: 15rem;
    height: auto;
    padding: 2rem;
    background-color: var(--bgCard);
    border-radius: 1rem;
    box-shadow: var(--shadowStart);
    overflow: hidden scroll;
    scrollbar-width: none;
  }
  .stats {
    width: 15rem;
    height: auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--bgCard);
    box-shadow: var(--shadowStart);
    flex-wrap: nowrap;
    justify-content: space-around;
    shared-graphic-meter {
      width: 95%;
    }
  }
  .container-pokemon{
    width: 18rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    .content-img {
      box-shadow: var(--shadowStart);
      border-radius: 30%;
      overflow: hidden;
      width: 95%;
      height: 15rem;
      shared-picture {
        width: 100%;
      }
    }
    .descriptionPokemon{
      width: 95%;
      padding: 1rem;
      text-align: center;
      margin-top: 1rem;
      background-color: var(--bgCard);
      box-shadow: var(--shadowStart);
      text-shadow: var(--shadowEnd);
      font-weight: bold;
      border-radius: 30%;
      overflow: hidden;
      color: var(--text);
    }
  }
  &::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
  }
}

li {
  color: var(--text);
  list-style: none;
  span {
    color: var(--text);
  }
}
p {
  color: var(--text);
  strong {
    color: var(--text);
  }
}
