<div class="content">
  <span class="text">
    {{text | uppercase}}:
  </span>
  <div class="progress-container">
    <div
      [ngStyle]="{
        'position': 'relative',
        'width': adjustedProgress + '%',
        'max-width': maxWidth + '%',
        'height': '100%',
        'background-color': 'var(--bgHP)',
        'transition': 'width 0.25s ease-in-out'
      }"
    >
      <span [ngStyle]="{
          'position': 'absolute',
          'top': '25%',
          'left': this.calcultateLeft() + '%',
          'width': maxWidth + '%',
          'height': 'auto',
          'display': 'flex',
          'align-items': 'center',
          'justify-content': 'center',
          'font-size': '90%',
          'padding': '1px',
          'color': 'var(--text)',
          'font-weight': 'bold',
          'pointer-events': 'none',
          'z-index': '1'
        }"
      >
        {{ progress }}/{{maxWidthValue}}
      </span>
    </div>
  </div>
</div>




