.progress-container {
  width: 100%;
  height: 2rem;
  background-color: var(--bgCard);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  span{
    width: 120%;
    text-align: center;
  }
}

.progress-bar {
  width: auto;
  height: 100%;
  background-color: var(--bgHP);
  transition: width 0.25s ease-in-out;
}

.progress-value {
  position: relative;
  top: 0;
  left: -30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90%;
  padding: 1px;
  color: var(--text);
  font-weight: bold;
  pointer-events: none; /* Para evitar que interfiera con eventos de clic */
  z-index: 1;
}

.content{
  display: flex;
  flex-direction: column;
}
