.button {
  position: absolute;
  right: 2rem;
  color: rgb(255, 132, 0);
}

.pokemon-detail {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 90%;
  height: 90%;
  justify-content: center;
  .img {
    width: 15rem;
  }
  .contenid {
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 1rem;
    .title {
      width: 100%;
    }
    .all-habilities {
      width: 90%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      .stats{
        width: 100%;
        padding: 1rem;
        .stat{
          list-style: none;
        }
      }
      .habilities{
        width: 100%;
      }
    }
  }
}
