<form class="column txt-center">
  <label for="sig_up_full_name">Full Name</label>
  <input
    type="Name"
    class="form-control"
    id="sig_up_full_name"
    aria-describedby="nameHelp"
    placeholder="Full Name"
  />
  <label for="sig_up_email">Email address</label>
  <input
    type="email"
    class="form-control"
    id="sig_up_email"
    aria-describedby="emailHelp"
    placeholder="Email"
  />
  <label for="sig_up_password">Password</label>
  <input
    type="password"
    class="form-control"
    id="sig_up_password"
    placeholder="Password"
  />

  <label for="sig_up_confirm_password">Confirm Password</label>
  <input
    type="password"
    class="form-control"
    id="sig_up_confirm_password"
    placeholder="Confirm Password"
  />
  <div>
    <button type="submit" class="bg-red">Submit</button>
  </div>
</form>
