.contenid {
  .contenid-search {
    position: absolute;
    margin-top: -8.5rem;
    .img {
      width: 25%;
      width: 10rem;
      margin-top: 0.5rem;
    }
    .searchContend {
      width: 100%;
      .searchInput{
        width: 100%;
        border-radius: 3rem;
        text-align: center;
        border: 0.2rem solid red;
      }
    }
  }

  main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
    margin-top: 8rem;

    .contenid-pokemon {
      margin-left: 1rem;
      margin-top: 1rem;
      padding: 1rem;
      width: 15rem;
      height: 20rem;
      border-radius: 1rem;
      text-align: center;
      background-color: black;
      .text {
        width: auto;
        color: red;
      }
      .img {
        width: 8rem;
        height: 12rem;
      }

      .button {
        width: 100%;
        border:none;
        border-radius: 2rem;
        height: 3rem;
        color: white;
        background-color: rgb(255, 149, 0);
      }
    }
  }
}
@media screen and (max-width: 768px){
   main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    margin-top: 8rem;
  }
}
