<div class="contenid">
  <form
    class="contenid-search"
  >
    <img
      class="img"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2560px-International_Pok%C3%A9mon_logo.svg.png"
      alt="pokemon"
    />
    <div class="searchContend">
      <input
        type="text search"
        class="searchInput"
        (input)="searchPokemons($event)"
        placeholder="search Pokemon"
      />
    </div>
  </form>
  <main>
    <article class="contenid-pokemon" *ngFor="let pokemon of pokenShow">
      <h2 class="text text-center">
        {{ pokemon.name | uppercase}}
      </h2>
      <img
        class="img"
        [src]="pokemon.sprites.other.dream_world.front_default"
        alt="pokemon"
      />
      <button class="button" (click)="detailPokemon(pokemon.id)">
        estadisticas
      </button>
    </article>
  </main>
</div>
