@use "./colors.scss" as *;
@use "./animations/shadow-animation.scss";
* {
  background-color: $background-color;
  color: $text;
  padding: auto;
}

main {
  margin: auto;
  width: 90%;
}

h1 {
  width: 95%;
  padding: 1rem;
  text-align: center;
  color: $titles;
}
h2,
h3,
h4 {
  padding: 1rem;
  width: 90%;
  color: $subtitles;
  background-color: transparent;
}
div {
  background-color: transparent;
}
button {
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 100%;
  box-shadow: $shadow-start;
  transition: box-shadow 0.5s;
  &:hover {
    box-shadow: $shadow-end;
  }
}
article {
  padding: 2rem;
  font-size: 150%;
  border-radius: 2rem;
  box-shadow: $shadow-start;
  width: 90%;
  margin: auto;
  text-align: center;
  transition: box-shadow 0.5s;
  display: flex;
  flex-direction: row;
  &:hover {
    box-shadow: $shadow-end;
  }
}

p {
  font-size: 110%;
}

input {
  width: 80%;
  border-radius: 1rem;
  padding: 1rem;
  margin: auto;
  background-color: transparent;
  text-align: center;
  font-size: 1rem;
}
label {
  margin-top: 2%;
  background-color: transparent;
}
form {
  margin: auto;
  width: 70%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(15, 15, 15);
}
