@use "./classes.scss";

@media (max-width: 768px) {
  .img-profile {
    width: 80%;
    border-radius: 1rem;
  }
}
@media (max-width: 450px) {
  .img-profile {
    width: 60%;
    margin-top: 1rem;
  }
}
@media (max-width: 300px) {
  .img-profile {
    width: 100%;
    margin-top: 1rem;
  }
}
