
<div class="searchContend">
  <img
    class="logo-pokemon"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2560px-International_Pok%C3%A9mon_logo.svg.png"
  />
  <input
    type="search"
    #input
    class="searchInput"
    [formControl]="search"
    (keyup.enter)="searchPokemon(input.value)"
    placeholder="search Pokemon"
  />
</div>
<main>
  <article *ngFor="let pokemon of pokemonsNames" class="article-list">
    <app-pokemon-front [namePokemon]="pokemon.name"></app-pokemon-front>
    <button class="button-list" (click)="detail_pokemon(pokemon.name)">
      Detail of {{ pokemon.name }}
    </button>
  </article>
</main>
