div{
  margin-top: 1%;
  margin-left: 1px;
  width: 100%;
  height: 75%;
  overflow: hidden scroll;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position:relative;
  &::-webkit-scrollbar{
    display: none;
  }
}
.cardPokemon{
  cursor: pointer;
}
.search{
  width: 92%;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--bgCard);
  border-radius: 1rem;
  font-weight: bold;
  font-size: 110%;
  color: var(--text);
  border: none;
  box-shadow: var(--shadowMid);
  &:hover{
    box-shadow: var(--shadowStart);
  }
  &:focus{
    border: none;
    box-shadow: var(--shadowEnd);
  }
}
.pagination {
  width: 90%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
  margin-top: 8px;
  button {
    padding: 6px ;
    font-size: 100%;
    background-color: var(--bgCard);
    color: var(--text);
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 1rem;
    box-shadow: var(--shadowStart);
    svg{
      fill: var(--text);
      padding: 2px;
    }
    &:disabled {
      border-radius: 1rem;
      box-shadow: var(--shadowEnd);
      cursor: not-allowed;
      font-weight: bold;
    }
  }
  span{
    margin-top: 2px;
    color: var(--text);
    box-shadow: var(--shadowMid);
    background-color: var(--bgCard);
    border-radius: 1rem;
    padding: 2px;
    font-weight: bold;
  }
}


