<div class="container" *ngIf="paginatedPokemons.length > 0">
  <ng-container *ngFor="let pokemonModel of paginatedPokemons">
    <shared-card-pokemon [pokemon]="pokemonModel" />
  </ng-container>

  <div class="pagination">
    <button (click)="goToFirstPage()" [disabled]="currentPage === 1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#e8eaed"
      >
        <path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z" />
      </svg>
    </button>
    <button (click)="previousPage()" [disabled]="currentPage === 1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#e8eaed"
      >
        <path
          d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"
        />
      </svg>
    </button>
    <span> {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#e8eaed"
      >
        <path
          d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"
        />
      </svg>
    </button>
    <button (click)="goToLastPage()" [disabled]="currentPage === totalPages">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#e8eaed"
      >
        <path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z" />
      </svg>
    </button>
  </div>
</div>
<ng-template #noData>
  <p>No Pokémon disponibles.</p>
</ng-template>
