<main>
  <hr>
  <h1>para exportar</h1>
  <table [cellPadding]="2">
    <tr>
      <th>name</th>
      <th>url</th>
    </tr>
    <tr *ngFor="let pokemon of pokemons_names">
      <td>{{pokemon.name}}</td>
      <td>
        <button (click)="detail_pokemon(pokemon.name)" >
          Caracteristicas
        </button>
      </td>
    </tr>
  </table>
  <button (click)="downLoad()">exportar</button>
  <hr>
  <h1>para importar</h1>
  <table [cellPadding]="2">
    <tr>
      <th>name</th>
      <th>url</th>
    </tr>
    <tr *ngFor="let pokemon of pokemons_import">
      <td>{{pokemon.name}}</td>
      <td>
          {{pokemon.url}}
      </td>
    </tr>
  </table>
  <input title="import" type="file" (change)="selectFile($event)" accept=".xlsx"/>
</main>
