// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use "@angular/material" as mat;

@import "./assets/styles/theme-dark/index.scss";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pokedesk-v2-primary: mat.define-palette(mat.$indigo-palette);
$pokedesk-v2-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$pokedesk-v2-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pokedesk-v2-theme: mat.define-light-theme(
  (
    color: (
      primary: $pokedesk-v2-primary,
      accent: $pokedesk-v2-accent,
      warn: $pokedesk-v2-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($pokedesk-v2-theme);

/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 1%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: black;
  color: white;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 1rem;
  width: 90%;
  background-color: black;
  color: white;
}

.detail {
  background-color: rgb(82, 82, 82);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 2rem;
}
::ng-deep .ngx-charts .grid-panel .label {
  fill: white;
}
main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.img-list {
  width: 70%;
}
.article-list {
  margin: 1rem;
  padding: 2rem;
  background-color: transparent;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 15%;
  height: 10%;
}

.searchContend {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  .searchInput {
    border-color: red;
    border-radius: 1rem;
    height: 2rem;
    width: 90%;
    color: white;
    background-color: black;
    margin: auto;
    text-align: center;
  }
}
.logo-pokemon {
  margin: auto;
  width: 20%;
}

.button-list {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: orange;
  color: white;
  margin-top: 1rem;
}
